.generic-content-container{

    /* targets any paragraph in container*/
    p{
        font-weight:300;
        line-height: 1.65;
        margin: 0 0 1.8rem 0;/*top right bottom*/
        

        @mixin atSmall{
            font-size: 1.125rem;
        }

    }

    /* descendant selector, for any a(links) in class p */
    p a{
        /*font-weight of 400 is standard*/
        font-weight: 700;
    }
}